@import url("./base.css");
@import url("./fonts.css");

@import "tailwindcss";

i {
    font-style: italic;
    font-weight: 700;
}

iconify-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

@theme {
    --color-hoaq: #b179b4;
    --font-sans: "Karla", sans-serif;
    --font-mono: "Fira Mono", monospace;
}

@utility horizontal-tb {
    writing-mode: horizontal-tb;
}

@utility vertical-rl {
    writing-mode: vertical-rl;
}

@utility vertical-lr {
    writing-mode: vertical-lr;
}
