/* Karla Font Family */
@font-face {
    font-family: "Karla";
    src: url("/assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Karla";
    src: url("/assets/fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
    font-style: italic;
    font-display: swap;
}

/* Fira Mono Font Family */
@font-face {
    font-family: "Fira Mono";
    src: url("/assets/fonts/FiraMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url("/assets/fonts/FiraMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url("/assets/fonts/FiraMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
